body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
}

body>* {
    margin-top: 30px;
}

#letterContainer {
    display: flex;
    width: 100%;
}

#ciphertextForm,
#ciphertextForm>label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#txtCiphertext {
    min-height: 100px;
    padding: 10px;
    resize: vertical;
}

#btnProcess {
    margin-top: 5px;
    padding: 5px;
}

label {
    width: 100%;
    text-align: center;
}

.letterbox {
    border: 1px solid black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letterboxContent {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.letterboxInput {
    font-size: xx-large;
    width: 100%;
    box-sizing: border-box;
    caret-color: transparent;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}

.autoTable {
    table-layout: auto;
}

.narrow {
    width: 1%;
}

.invalid {
    background-color: red;
}